<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Himachal Tourism</title>
    <link rel="stylesheet" href="../styles/main.css">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-DQvkBjpPgn7RC31MCQoOeC9TI2kdqa4+BSgNMNj8v77fdC77Kj5zpWFTJaaAoMbC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    
</head>
<body>
      <nav class="navbar navbar-expand-lg custom-navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="../pics/ChatGPT Image Apr 7, 2025, 07_02_44 PM.png" alt="himachal map"></a> 
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/register">Registration</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Places
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/manali">Manali</a></li>
                  <li><a class="dropdown-item" href="/shimla">Shimla</a></li>
                  <li><a class="dropdown-item" href="/dharamshala">Dharamshala</a></li>
                  <li><a class="dropdown-item" href="/kullu">Kullu</a></li>
                  <li><a class="dropdown-item" href="/chamba">Chamba</a></li>
                  <li><a class="dropdown-item" href="/spiti">Spiti Valley</a></li>
                  <li><a class="dropdown-item" href="/solan">Solan</a></li>
                  <li><a class="dropdown-item" href="/lahaul">Lahaul Valley</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/feedback">Feedback</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/reviews">Reviews</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/guide">Tour Guides</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/contact">Contact Us</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button type="button" class="btn btn-outline-success">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <div class="container">
        <div class="d1">     
          <form class="f1" action="/register" method="POST">
          <h3 class="g">Sign In</h3>
          <p class="g">For existing users</p>
          <input class="form-control form-control-sm" name ="email2" type="email" placeholder="username@email.com" required>
          <input class="form-control form-control-sm" type="password" name="pswd2" required>
          <button type="submit" class="btn btn-success">Submit</button>
          </form>
        </div>
        <div class="d1">
       <form class="f1" action="/register" method="POST">
          <h3 class="g">Sign Up</h3>
          <p class="g">For new users</p>
          <input class="form-control form-control-sm" name ="email1" type="email" placeholder="username@email.com" required>
          <input class="form-control form-control-sm" type="password" name="pswd1" required>
          <button type="submit" class="btn btn-success">Submit</button>
       </form>
      </div>
      <script src="../index.js"></script>
    
    
</body>
</html>